

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
del,
em,
img,
ins,
q,
small,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

::selection {
    background: #BDC3C7
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus,
select:focus {
    outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body {

    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.7;
    word-wrap: break-word;
    color: #3E3E3E;
    display: flex;
    flex-direction: column;
}

ol,
ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}





.container:before,
.container:after {
    display: table;
    content: " "
}

.container:after {
    clear: both
}

/*.container {*/
/*    margin: 0px auto;*/
/*}*/
/*.wrapper{*/
/*    min-height: 900px;*/
/*}*/
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background: #666
}

::-webkit-scrollbar-track-piece {
    background: #666
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: #333;
    border-radius: 3px
}

a {
    text-decoration: none;
    color: #1e54a1;
}

a:hover {
    color: #123b75;
}

/*icon truyện*/
.spire {
    background-image: url(https://truyenplus.vn/theme/images/sprite.png);
    background-repeat: no-repeat;
    float: left
}

.spire.spire--list {
    width: 16px;
    height: 16px;
    background-position: -69px 0;
    margin: 2px 10px 2px 0
}



.col-md-6,
.col-md-12,
col-sm-6,
col-sm-12 {
    float: left
}

.col-md-6 {
    width: 50%
}

.col-md-12 {
    width: 100%
}
.ql-container.ql-snow {
    height: 100vh !important; /* Sử dụng !important để đảm bảo rằng style được áp dụng */
}