.BodyHeader {
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.HeaderImage {
  align-items: center;
  width: 100%;
  height: 300px;
}

img {
  width: 100%;
  height: auto;
}

.ShopCategory {
  display: flex;
  justify-content: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
  margin-top: 20px;
}

.imageContainer img {
  width: 100%;
  max-width: 223px;
  height: auto;
}

.imageContainer p {
  margin-top: 5px;
  text-decoration: none;
}

.BestSellCategory {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.BestSellimageContainer {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
  margin-top: 20px;
}

.BestSellimageContainer img {
  width: 100%;
  max-width: 284px;
  height: auto;
}

.BodyHeader, h4, p {
  text-decoration: none;
  color: black;
}

.ShopCategory p {
  text-decoration: none;
  color: black;
}

p {
  color: black;
}

h2 {
  color: black;
  margin-top: 390px;
}

h3 {
  color: black;
  margin-top: 50px;
}

.BestSellerH3, .ShopCategoryH3, .BestSellP {
  color: black;
}

.linkWithoutDecoration {
  text-decoration: none;
}

.BestSellimageContainer h4 {
  color: black;
}

/* Responsive Styles */

@media (max-width: 767px) {
  .imageContainer,
  .BestSellimageContainer {
    margin: 10px;
  }

  .imageContainer p,
  .BestSellimageContainer p {
    font-size: 14px;
  }

  .BestSellimageContainer h4 {
    font-size: 16px;
  }

  h2 {
    margin-top: 150px;
  }

  .HeaderImage img {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .imageContainer,
  .BestSellimageContainer {
    margin: 10px;
  }
}

@media (min-width: 992px) {
  .imageContainer,
  .BestSellimageContainer {
    margin: 0 10px;
  }
}

.hr-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.hr-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 35px;
}

.hr-text::before,
.hr-text::after {
  content: '';
  border-bottom: 2px solid #000;
  width: 450px;
}

.hr-text:not(:empty)::before {
  margin-right: .25em;
}

.hr-text:not(:empty)::after {
  margin-left: .25em;
}

.image-container {
  position: relative;
  width: 300px;
  height: 200px;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.first.visible, .second.visible {
  opacity: 1;
}

.first.hidden, .second.hidden {
  opacity: 0;
}
a{
  color: rgb(0, 0, 0);
 
}
a:hover{
  color: rgb(253, 6, 6);
  text-decoration: none;
}
