.form-con {
    width: 100%;
    height: auto;
  }
  
  .form-top {
    width: 100%;
    height: auto;
    background-color: #ececec;
    padding-top: 70px;
  }
  
  .form-top1 {
    color: #000;
    font-size: 16px;
    width: auto;
    height: 60px;
  }
  
  .form-nav {
    width: 60%;
    height: auto;
    background-color: white;
    margin: auto;
  }
  
  .form-footer {
    padding-top: 20px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 40px;
    color: #9e9a9a;
  }
  
  .form-header {
    width: 100%;
    height: auto;
  }
  
  .custom-hr {
    border: none;
    border-top: 1px solid #dfdddd;
    margin: 20px 0;
    width: 90%;
    margin: auto;
  }
  
  .custom-hr1 {
    border: none;
    border-top: 2px solid #8b8787;
    margin: 20px 0;
    width: 100%;
    margin: auto;
  }
  
  .formButton {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    width: 190px;
  }
  
  button {
    background-color: red;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkred;
  }
  
  .from-home{
   padding-left: 50px;
  }
 .clost-button{
    position: fixed; /* Sử dụng fixed để ảnh nằm trên cùng và không di chuyển khi cuộn trang */
    top: 0;
    left: 0;
    z-index: 999; /* Đảm bảo ảnh và nút "x" nằm trên tất cả các nội dung khác */
 
 }


 <div className="form-group">
 <label htmlFor="country">Quốc gia:</label>
 <select id="country" value={selectedCountry} onChange={handleCountryChange}>
   <option value="VIETNAM">Việt Nam</option>
   <option value="JAPAN">Nhật Bản</option>
 </select>
</div>

<div className="form-group">
 <label htmlFor="province">Tỉnh/Thành phố:</label>
 <select id="province" value={selectedProvince} onChange={handleProvinceChange} disabled={!selectedCountry}>
   <option value="">Chọn tỉnh/thành phố</option>
   {provinces[selectedCountry].map(province => (
     <option key={province.name} value={province.name}>{province.name}</option>
   ))}
 </select>
</div>

<div className="form-group">
 <label htmlFor="district">Quận/Huyện:</label>
 <select id="district" disabled={!selectedProvince}>
   <option value="">Chọn quận/huyện</option>
   {districts.map(district => (
     <option key={district} value={district}>{district}</option>
   ))}
 </select>
</div>