.footer {
  background-color: white;
 
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 50px;
font-size: 14px;
  background-color: white;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h2 {
  
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #007bff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

/* Style for footer-bottom section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color:white; /* Adjust if needed */
}

.footer-bottom > div {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  color: #000000; /* Adjust text color if needed */
}


.cuoi {
  text-align: center;
}

.footer-bottom-info.day {
 
  color: #ffffff;
}
p{
  font-size: 12px;
}